# Fichiers de build .NET
bin/
obj/

/Installation/CraKit/
/Sauvegarde/Brut/
/Sauvegarde/Parsed/

# Fichiers temporaires de Rider / Visual Studio
.idea/
.vscode/
.vs/
*.user
*.suo
*.userprefs
Installation/Crakit/

# Fichiers de logs
*.log

# Fichiers de publication
publish/
*.exe
*.dll
*.pdb
*.app
*.dmg
*.msi

# Fichiers système
.DS_Store
Thumbs.db
